.btn-ghost {
  color: #E4A400;
  border: 2px solid #E4A400;
  background-color: rgba(242, 204, 109, 0.3);
  padding: 8px 24px;
  margin-left: 15px;
  font-weight: bold;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-ghost:hover {
  background-color: #E4A400;
  color: white;
}
